
body {
    background-color: #E2E8DD;
}


/* Login Page */
.login-page {
    min-height: 100vh;
    background-color: #909580;
}


.login-icon {
    font-size: clamp(3rem, 5vw, 5rem);
    color: #4A6FA5;
}

.login-button {
    background-color: #4A6FA5;
    color: white;
}


.login-button:hover {
    background-color: #90a1c0;
    color: white;
}


.form-control:focus {
    border-color: #4A6FA5;
    box-shadow: 0 0 0 .2rem rgba(74,111,165,.25);
}

